include README.rst LICENSE.txt CHANGES.rst
include requirements.txt treedb.ini
include fix-spaces.py lint-code.py run-tests.py try-treedb.py
include treedb.ini
include Stats.ipynb
recursive-include tests *.py
