name: Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux-3.14-full
            python-version: "3.14"
            args: "--run-writes"
            extra: ",pandas"
            os: ubuntu-latest
          - name: linux-3.14-full-master
            python-version: "3.14"
            args: "--glottolog-tag=master --run-writes"
            extra: ",pandas"
            os: ubuntu-latest
          - name: windows-3.14-full
            python-version: "3.14"
            args: "--run-writes"
            extra: ",pandas"
            os: windows-latest
          - name: linux-3.13-quick
            python-version: "3.13"
            args: "--skip-slow --exclude-raw"
            extra: ",dev,pandas"
            os: ubuntu-latest
          - name: linux-3.12-quick
            python-version: "3.12"
            args: "--skip-slow --exclude-raw"
            extra: ",pandas"
            os: ubuntu-latest
          - name: linux-3.11-quick
            python-version: "3.11"
            args: "--skip-slow --exclude-raw"
            extra: ",pandas"
            os: ubuntu-latest
          - name: linux-3.10-quick
            python-version: "3.10"
            args: "--skip-slow --exclude-raw"
            extra: ",pandas"
            os: ubuntu-latest
    steps:
      - name: Check/configure long paths (if windows)
        if: ${{ startsWith(matrix.os, 'windows-') }}
        run: |
          echo "::group::Check HKLM:System\CurrentControlSet\Control\FileSystem.LongPathsEnabled"
          (Get-ItemProperty HKLM:System\CurrentControlSet\Control\FileSystem).LongPathsEnabled
          echo "::endgroup::"
          echo "::group::Run git config --system core.longpaths true"
          git config --system core.longpaths true
          echo "::endgroup::"
      - name: Checkout souce repo
        uses: actions/checkout@v6
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Pip install dependencies
        run: |
          echo "::group::Run python -m pip install --upgrade pip setuptools wheel"
          python -m pip install --upgrade pip setuptools wheel
          echo "::endgroup::"
          echo "::group::Run pip install .[pretty${{ matrix.extra }}] --group test"
          pip install .[pretty${{ matrix.extra }}] --group test
          echo "::endgroup::"
      - name: Pip downgrade sqlalchemy to 1.0 version (if -sa1)
        if: ${{ contains(matrix.name, '-sa1') }}
        run: |
          echo "::group::Run python -m pip install \"sqlalchemy<2\""
          python -m pip install "sqlalchemy<2"
          echo "::endgroup::"
      - name: Run tests with ${{ matrix.args }}
        run: python run-tests.py ${{ matrix.args }}
      - name: Check Glottolog version
        run: echo "::notice::$(python -c 'import treedb; print(treedb.glottolog_version())')"
      - name: Run try-treedb.py (if -full)
        if: ${{ contains(matrix.os, '-full') }}
        run: |
          echo "::group::Run try-treedb.py"; FAILED=0;
          python try-treedb.py || FAILED=$?
          echo "::endgroup::"
          [ $FAILED -eq 0 ] || echo "::warning::try-treedb.py failed with exit code $FAILED"
        shell: bash
      - name: Upload ${{ matrix.name }} artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.name }}
          path: |
            treedb.log
            treedb*.sqlite3
            treedb*.jsonl
            treedb*.csv
  lint-code:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.14"
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v6
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Pip install --group lint
        run: pip install --group lint
      - name: Run lint-code.py
        run: |
          FAILED=0
          python lint-code.py || FAILED=$?
          [ $FAILED -eq 0 ] || echo "::warning::lint-code.py failed with exit code $FAILED"
        shell: bash
  typecheck-code:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.14"
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v6
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Pip install --group typing
        run: pip install --group typing
      - name: Run mypy
        run: |
          FAILED=0
          python -m mypy || FAILED=$?
          [ $FAILED -eq 0 ] || echo "::warning::mypy failed with exit code $FAILED"
        shell: bash
